

main {
    section {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5rem 0;
        gap: 1rem;
        img {
            width: 25rem;
            height: 25rem;
            border-radius: 1rem;
            box-shadow: -.5rem .6rem .5rem #000;
        }
        div.presentation {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-size: 5rem;
                font-weight: bold;
                font-variant: small-caps;
                margin: .2rem 0;
                
            }
            span.separator {
                width: 10rem;
                height: 5px;
                background-color: #1d1d1d;
            }
            div.description {
                margin: 2rem 0 0 0;
                padding: 0;
                p{
                    margin: .2rem 0;
                    font-size: 1.1rem;
                    font-variant: small-caps;
                    font-weight: bold;
                }
            }
        }
        transition: .3s;
    }
    section:not(:first-of-type) {
        width: 35%;
        height: 20rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 0;
        margin: 5rem 0;
        border-radius: 2rem;
        background-color: #e9e9e9;
        filter: drop-shadow(-.5rem .5rem .2rem burlywood);
        gap: 0;
        img {
            width: 5rem;
            height: 5rem;
            margin: 0 2rem;
            padding: .5rem;
            box-shadow: none;
            /*filter: drop-shadow(0 0 .2rem #57F287);*/
        }
        div.thumbnail {
            position: static;
            top: 0;
            border-radius: 2rem 2rem 0 0;
            background-color: wheat;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h3 {
                /*height: 100%;*/
                align-content: end;
                font-size: 1.5rem;
                font-weight: bold;
                font-family: Kanit, sans-serif;
                padding: 0;
                margin: .5rem;
                font-variant: small-caps;
                width: fit-content;
                max-width: 65%;
                align-self: end;
                color: black;
                a {
                    color: blue;
                }
                transition: .2s;
            }
        }
        div.description {
            border-radius: 0 0 2rem 2rem;
            margin: 0;
            padding: 1rem .5rem;
            p {
                margin: .1rem;
                padding: 0;
            }
            :last-child {
                border-radius: 0 0 2rem 2rem;
            }
        }
    }
    section:not(:first-of-type):hover {
        /*border: green solid 5px;*/
        width: 60%;
        height: 30rem;
        div.thumbnail {
            h3 {
                /*align-content: center;*/
                font-size: 3.5rem;
                /*font-family: Oswald, sans-serif;*/
            }
        }
    }
}
h3 {
    font-size: 2rem;
    font-weight: bold;
    font-variant: small-caps;
    margin: .2rem .5rem;
    color: black;
    border-bottom: black solid 1px;
}
div.description-in{
    border-radius: 0 0 2rem 2rem;
    margin: 0;
    padding: 1rem ;
    color:black;
}